<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Personalloan">
    <classes>
      <class name="Loans.flexiloan">
      <methods>
     <exclude name="carleaseloginapp"/>
     <exclude name="carleaseloginnet"/>
     </methods>
     
      </class>
    </classes>
  </test> 
</suite> 
